
.editActivityItem{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editActivityItem{
    padding:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editTitle{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.editForm{
    display: flex;
    flex-direction: column;
}

.edit > label{
    font-size: 15px;
    font-weight: 300;
    margin-right: 25px;

}

.edit > input{
    border: none;
    border-bottom: 1px solid #333;
    width: 460px;
    padding: 20px;
}

.edit > input:focus{
    outline:none;
}

.edit > select {
    padding: 5px 8px;
    margin: 25px 0;
}

.editForm > button {
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: purple;
}